<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>CodeTV</title>
    
        <link rel="stylesheet" href="/css/style.css">

  </head>

  <body>

    <div class="login">
  <div class="heading">
    <h2>Add Customer</h2>
    <form action="/customer/create">

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <input type="text" class="form-control" name="name" placeholder="Customer's Name">
        </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
          <input type="text" class="form-control" name="email" placeholder="Customer's Email">
        </div>

        <button id="submit" class="float">Insert</button>
    </form>
 	</div>
 </div>
    
    
  </body>
</html>
